@font-face {
	font-family: 'BebasRegular';
	src: url('fonts/BEBAS___-webfont.eot');
	src: url('fonts/BEBAS___-webfont86d7.eot?iefix') format('eot'), url('fonts/BEBAS___-webfont.woff') format('woff'), url('fonts/BEBAS___-webfont.ttf') format('truetype'), url('fonts/BEBAS___-webfont.svg#webfontOJIfwzl6') format('svg');
	font-weight: normal;
	font-style: normal;
}
body, td, th {
	color: #ffffef;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}
body {
	margin: 0;
	background-color: #000;
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
}
a {
	color: #ffffef;
	text-decoration: none;
	border-bottom: 1px dotted #666666;
}
a:hover {
	opacity: 1;
}
#loading {
	background-color: #101215;
	/*	
	background-image: -webkit-gradient(radial, center 50%, 1200, center 50%, 600, from(rgba(0, 0, 0, 1)), to(transparent));
	background-image: -moz-radial-gradient(transparent, #000);
	background-color: rgba(16,18,21,0.80);
*/
	position:absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
}
#loadingText {
	background-image: url(images/tmlLogo.png);
	background-repeat:no-repeat;
	background-position: 50% 0;
	position:absolute;
	z-index: 1001;
	width: 100%;
	height: 300px;
	margin-top: -80px;
	top: 50%;
	left: 0;
}
 @-webkit-keyframes loadinganim {
 0% {
 opacity: .3;
 text-shadow: 0 0 1px rgba(255, 255, 0, 0);
}
 100% {
 opacity: 1;
 text-shadow: 0 0 30px rgba(255, 255, 180, .4);
}
}
#loadingText h1 {
	/*
	font-family: "BebasRegular", Arial, Helvetica, sans-serif;
	letter-spacing: 6px;
*/
	width: 150px;
	text-transform:uppercase;
	text-align:center;
	margin: 85px auto 10px auto;
	font-size:16px;
	-webkit-font-smoothing: antialiased;
	-webkit-animation: loadinganim .5s infinite;
	-webkit-animation-direction: alternate;
}
#loadingText p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align:center;
	font-size:11px;
	margin: 0 0 10px 0;
	opacity: .2;
}
#intro {
	width: 360px;
	margin: -125px 0 0 -180px;
	z-index: 900;
	text-align: center;
	background-color: #101215;
	background-color: rgba(16,18,21,0.80);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border: 2px solid #ffffef;
	border-radius: 15px;
	-moz-box-shadow: 0 5px 18px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, .7);
	box-shadow: 0 5px 18px rgba(0, 0, 0, .7);
	position: fixed;
	top: 50%;
	left: 50%;
}
#intro h1 {
	font-family: "BebasRegular", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	letter-spacing: 2px;
	margin: 36px 0 8px 0;
}
#intro h2
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align:center;
	font-size:11px;
	margin: 0 0 20px 0;
	opacity: .4;
}
#intro p {
	margin: 0 0 2px 0;
	font-size: 12px;
	color: #f49b8d;
}
#intro img {
	margin: 16px 0 -24px 0;
}
#container {
	height: 5500px;
	width: 1130px;
	position:absolute;
	top: -10px;
	left: 50%;
	margin-left: -570px;
}
#container div {
/*
border: 2px dotted rgba(255, 0, 0, 0.3);;
background-color: rgba(255, 255, 255, 0.3);
*/
}
#edgevignette {
	width: 1140px;
	height: 100%;
	background-image:url(images/vignette.html);
	background-repeat: repeat-y;
	position: fixed;
	top: 0;
	left: 50%;
	margin: 0 0 0 -570px;
	z-index: 999;
}
#tmlLogo {
	text-align:center;
	margin: -70px 0 10px 0;
	opacity: 0;
}
#titles {
	position: fixed;
	z-index: 99;
	top: 350px;
	left: 50%;
	width: 1130px;
	height: 100px;
	margin: 0 0 0 -555px;
	font-size: 36px;
	color: #ffffef;
	font-family: "BebasRegular", Arial, Helvetica, sans-serif;
	text-align:center;
	text-transform: uppercase;
	line-height: 100px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
#title, #subTitle {
	opacity: 0;
}
#titleText {
	margin: 0 auto;
	width: 250px;
	position: relative;
	height: 50px;
}
/* For older browsers (which ignore the n-th child properties) */
#titleText span {
	letter-spacing: -10px;
}
#titleText span:nth-child(n+0) {
	letter-spacing: normal;
	display: block;
	width: 40px;
	margin-left: -6px;
	text-align: center;
	position: absolute;
	top: 0;
}
#titleText span:nth-child(1) {
	left: 0;
}
#titleText span:nth-child(2) {
	left: 8.3%;
}
#titleText span:nth-child(3) {
	left: 16.6%;
}
#titleText span:nth-child(4) {
	left: 24.9%;
}
#titleText span:nth-child(5) {
	left: 33.2%;
}
#titleText span:nth-child(6) {
	left: 41.5%;
}
#titleText span:nth-child(7) {
	left: 49.8%;
}
#titleText span:nth-child(8) {
	left: 58.1%;
}
#titleText span:nth-child(9) {
	left: 66.4%;
}
#titleText span:nth-child(10) {
	left: 74.7%;
}
#titleText span:nth-child(11) {
	left: 83.0%;
}
#titleText span:nth-child(12) {
	left: 91.3%;
}
#subTitle {
	top: 345px;
	font-size: 6px;
	color: #f49b8d;
	text-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}
#subTitleText {
	margin: 0 auto;
	width: 100px;
	position: relative;
	height: 100px;
}
/* For older browsers (which ignore the n-th child properties) */
#subTitleText span {
	letter-spacing: -3px;
}
#subTitleText span:nth-child(n+0) {
	letter-spacing: normal;
	display: block;
	width: 20px;
	margin-left: -12px;
	text-align: center;
	position: absolute;
	top: 0;
}
#subTitleText span:nth-child(1) {
	left: 0;
}
#subTitleText span:nth-child(2) {
	left: 12%;
}
#subTitleText span:nth-child(3) {
	left: 24%;
}
#subTitleText span:nth-child(4) {
	left: 36%;
}
#subTitleText span:nth-child(5) {
	left: 48%;
}
#subTitleText span:nth-child(6) {
	left: 60%;
}
#subTitleText span:nth-child(7) {
	left: 72%;
}
#subTitleText span:nth-child(8) {
	left: 84%;
}
#subTitleText span:nth-child(9) {
	left: 96%;
}
.clear {
	clear: both;
}
#branches {
	position: fixed;
	position: relative;
	top: 0;
	left: 50%;
	width: 1130px;
	height: 2172px;
	overflow:hidden;
	margin: 0 0 0 -565px;
}
#branchesPic, #branchesPicBlur {
	position: absolute;
	top: 0;
	left: 0;
	width: 1130px;
	height: 2172px;
	background-image:url(images/branches.png);
	background-repeat:no-repeat;
	display: block;
	z-index: 80;
}
#branchesPicBlur {
	background-image:url(images/branchesBlur.png);
	opacity: 0;
}
#moon {
	position: fixed;
	position: relative;
	top: 150px;
	left: 50%;
	width: 520px;
	height: 520px;
	margin: 0 0 0 -260px;
}
#moonPic, #moonPicBlur {
	position: absolute;
	top: 0;
	left: 0;
	width: 520px;
	height: 520px;
	background-repeat:no-repeat;
}
#moonPic {
	background-image:url(images/moon.png);
	opacity: 0;
}
#moonPicBlur {
	background-image:url(images/moonBlur.png);
}
#birdsPic1, #birdsPic2, #birdsPic3, #birdsPic4 {
	position: fixed;
	top: 700px;
	left: 50%;
	width: 1130px;
	height: 317px;
	margin: 0 0 0 -565px;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	z-index: 60;
}
#birdsPic1 {
	background-image:url(images/birdCircleSmall.png);
	top: 1050px;
}
#birdsPic2 {
	background-image:url(images/birdCircleMedium.png);
	top: 1150px;
}
#birdsPic3 {
	background-image:url(images/birdCircleLarge.png);
	top: 1350px;
}
#birdsPic4 {
	background-image:url(images/birdCircleXLarge.png);
	top: 1650px;
}
#skyline {
	position: fixed;
	top: 600px;
	left: 0;
	height: 536px;
	width: 100%;
	z-index: 40;
	opacity: 0;
}
#skylinePic {
	height: 536px;
	background-image:url(images/skyline.png);
	background-repeat:no-repeat;
	background-position: 50% 0;
}
#bench {
	position: fixed;
	top: 2500px;
	left: 0;
	height: 1275px;
	width: 100%;
	z-index: 70;
}
#benchPic {
	background-image:url(images/bench.png);
	background-repeat:no-repeat;
	background-position: 50% 0;
	height: 725px;
}
#groundPic {
	height: 1275px;
	background-image:url(images/benchBackground.png);
	background-repeat: no-repeat;
	background-position: 50% 400px;
}
#rootsPic {
	height: 705px;
	background-image:url(images/roots.png);
	background-repeat: no-repeat;
	background-position: 50% 360px;
	padding-top: 360px;
}
#end {
	position: fixed;
	left: 0;
	top: 55%;
	width: 100%;
	z-index: 999;
}

#end a {
color: #f49b8d;
}

#end a:hover {
color: #fff;
}


#panel {
	width: 1131px;
	height: 600px;
	margin: 0 auto;
	padding: 30px 0;
	background-color: #101215;
	background-color: rgba(16,18,21,0.7);
	text-align:center;
	position:relative;
	opacity: 0;
	border-top: 1px solid rgba(255,255,255,0.05)
}
#panel p {
	width: 390px;
	margin: 0 auto 10px auto;
	font-size: 11px;
	line-height: 14px;
}
#panel a#twitter {
	display: block;
	margin: 0 auto 20px auto;
	width: 150px;
	border: none !important;

}
#panel a#twitter:hover {
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	display: block;
}
#feathersAbove {
	position: fixed;
	left: 0;
	top: 8450px;
	width: 100%;
	height: 700px;
	z-index: 300;
	background-image:url(images/feathersAbove.png);
	background-repeat:no-repeat;
	background-position: 50% 0;
}
#feathersBelow {
	position: fixed;
	left: 0;
	top: 4300px;
	width: 100%;
	height: 600px;
	z-index: 80;
	background-image:url(images/feathersBelow.png);
	background-repeat:no-repeat;
	background-position: 50% 0;
}

#tweetbutton
{
	padding: 12px 0 0 0;
}


/*UNUSED*/
#vignette {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 95;
	background-image: -webkit-gradient(radial, center 20%, 500, center 30%, 0, from(rgba(0, 0, 0, 0.9)), to(transparent));
	background-image: -moz-radial-gradient(transparent, #000);
}
#ground {
	position: fixed;
	top: 820px;
	left: 0;
	height: 1180px;
	width: 100%;
}
#mist {
	height: 100px;
	width: 100%;
	margin: -60px 0 0 0;
	display: none;
}
