#zoomout{
    zoom: 80%;
}

a{
    cursor: pointer;
    text-decoration: none;
}
.scrolled{
    background-color: #fff;
    color: #fff;
    transition: .5s ease-in-out;
}
.footer-links{
    text-decoration: none;
    color:#000;
}
.footer-links:hover{
    color:#fff;
    transition: .3s;
}

.footer-link--brand{
    text-decoration: none;
    color: #000;
}

.footer-link--brand:hover{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}